.about {
    width: 100%;

    &__welcome {
        width: 100%;
        padding: 5rem $container-padding;
        &__title {
            padding: 5rem 0;
        }
        &__content {
            width: 50%;
            & > p {
                margin-bottom: 3rem;
            }
        }
        &__video {
            width: 100%;
            height: 45rem;
        }
        @include respond-down(md) {
            padding: 0 $container-padding-xs;
        }
        @include respond-only(xs) {
            &__title {
                // padding: 5rem 0;
            }
            &__content {
                width: 100%;
            }
            &__video {
                height: 30rem;
            }
        }
    }

    &__our__why {
        padding: 5rem $container-padding;
        width: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/storage/bgs/bg.jpg");
        & > p,
        & article {
            width: 70%;
        }
        &__title {
            padding: 3rem 0;
        }
        @include respond-down(md) {
            padding: 10rem $container-padding-xs;
            &__title {
                padding: 5rem 0;
            }
        }
        @include respond-only(xs) {
            padding: 5rem $container-padding-xs;
            margin: 3rem 0;
            & > p,
            & article {
                width: 100%;
            }
        }
    }

    &__our__values {
        padding: 5rem $container-padding;
        width: 100%;
        &__title {
            padding: 0;
            padding-bottom: 3rem;
        }
        @include respond-down(md) {
            padding: 5rem $container-padding-xs;
        }
        @include respond-only(xs) {
            padding: 0rem $container-padding-xs;
            &__title {
                padding: 5rem 0;
            }
        }
    }
    &__leadership {
        width: 100%;
        padding: 5rem $container-padding;

        @include respond-down(md) {
            padding: 0 $container-padding-xs;
            // padding-top: 5rem;
        }
        &__title {
            padding: 3rem 0;
        }
        &__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__avatar {
            @include grid-row;
            &__card {
                @include grid-column(
                    $width: 25%,
                    $height: 30rem,
                    $gutter: $column-gutter-1
                );
                @include respond-only(xs) {
                    width: column-width(50%, $column-gutter-1);
                }
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                transition: all 0.3s ease-in;
                padding: 2rem 1rem;
                & > .avatar {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 99999px;
                    & > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 99999px;
                    }
                }
                & > .info {
                    text-align: center;
                    margin-top: 3rem;
                    & > .name {
                        font-size: 1.1rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $secondary;
                        margin-bottom: 0.5rem;
                    }
                    & > .position {
                        font-size: 1rem;
                    }
                }
                &:hover {
                    @include card-bg;
                }
            }
        }
        &__article {
            width: 30%;
            padding-right: 1rem;
            font-size: 1.1rem;
        }
    }

    &__our__team {
        padding: 5rem $container-padding;
        margin-top: 2rem;
        width: 100%;
        &__title {
            padding: 0;
            padding-bottom: 3rem;
        }
        @include respond-down(md) {
            padding: 5rem $container-padding-xs;
        }
        @include respond-only(xs) {
            padding: 0rem $container-padding-xs;
            &__title {
                padding: 0;
                padding-bottom: 5rem;
            }
        }
    }
}
