.admissions {
    &__advantage {
        width: 100%;
        padding: 10rem $container-padding;
        background-image: url("/storage/bgs/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__title {
            padding: 3rem 0;
        }
        &__cta {
            width: 65%;
        }
        &__advantages {
            width: 35%;
            height: 30rem;
            position: relative;
            &__badge {
                position: absolute;
                border-radius: 99999px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                & > .percentage {
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1;
                    margin-bottom: 0.5rem;
                }
                & > .text {
                    font-size: 1rem;
                }
                &:nth-child(1) {
                    width: 13rem;
                    height: 13rem;
                    background-color: $primary;
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    width: 15rem;
                    height: 15rem;
                    background-color: $secondary;
                    border: 2px solid #ffffff;
                    top: 8rem;
                    left: 8rem;
                }
                &:nth-child(3) {
                    width: 17rem;
                    height: 17rem;
                    background-color: $secondary;
                    border: 2px solid #ffffff;
                    top: 19rem;
                    left: 0;
                }
            }
        }

        @include respond-down(md) {
            padding: 10rem $container-padding-xs;
            &__advantages {
                height: 30rem;
                &__badge {
                    & > .percentage {
                    }
                    & > .text {
                    }
                    &:nth-child(1) {
                    }
                    &:nth-child(2) {
                    }
                    &:nth-child(3) {
                    }
                }
            }
        }
        @include respond-only(xs) {
            padding: 5rem $container-padding-xs;
            flex-direction: column;
            &__cta {
                width: 100%;
                margin-bottom: 5rem;
            }
            &__advantages {
                width: 100%;
                height: 25rem;
                &__badge {
                    & > .percentage {
                    }
                    & > .text {
                    }
                    &:nth-child(1) {
                        top: 0rem;
                        left: -1rem;
                    }
                    &:nth-child(2) {
                        top: 0rem;
                        left: 11rem;
                    }
                    &:nth-child(3) {
                        top: 0;
                        left: 25rem;
                    }
                }
            }
        }

        &__info {
            width: 100%;
            padding: 10rem $container-padding;
            background-color: transparent;
            background-image: linear-gradient(180deg, #758592 7%, #ffffff 100%);
            &__cards {
                @include grid-row;
                &__card {
                    @include grid-column(
                        $width: 33.33%,
                        $height: 40rem,
                        $gutter: $column-gutter-1
                    );
                    @include respond-only(xs) {
                        width: column-width(50%, $column-gutter-1);
                    }
                    background-color: transparent;
                    background-image: linear-gradient(
                        180deg,
                        #758592 7%,
                        #ffffff 100%
                    );
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 3rem;
                    color: #ffffff;
                    & > .title {
                        text-transform: uppercase;
                        font-size: 2rem;
                        margin-bottom: 3rem;
                        font-weight: bold;
                        text-align: center;
                    }
                    & > p {
                        margin-bottom: 3rem;
                    }
                    & > .contact {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                    }
                    & > .link {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;

                        & > a {
                            color: $primary;
                        }
                        & > span {
                            padding-left: 0.5rem;
                            font-size: 1.4rem;
                            transition: all 0.3s ease-out;
                            color: $primary;
                        }
                        &:hover > a {
                            text-decoration: underline;
                        }
                        &:hover > span {
                            transform: translateX(0.5rem);
                        }
                    }
                    // position: relative;
                    // transition: all 0.3s ease-in;
                    // & > .avatar {
                    //     width: 12rem;
                    //     height: 12rem;
                    //     border-radius: 99999px;
                    //     & > img {
                    //         width: 100%;
                    //         height: 100%;
                    //         border-radius: 99999px;
                    //     }
                    // }
                    // & > .info {
                    //     text-align: center;
                    //     margin-top: 3rem;
                    //     & > .name {
                    //         font-size: 1.1rem;
                    //         font-weight: bold;
                    //         text-transform: uppercase;
                    //         color: $secondary;
                    //         margin-bottom: 0.5rem;
                    //     }
                    //     & > .position {
                    //         font-size: 1rem;
                    //     }
                    // }
                    // &:hover {
                    //     @include card-bg;
                    // }
                }
            }
        }

        & > .contact {
            width: 100%;
            padding: 5rem $container-padding;
            @include respond-down(md) {
                padding: 5rem 2rem;
            }
            & > .title {
                font-size: 2rem;
                text-transform: uppercase;
                color: $primary;
                margin-bottom: 2rem;
            }
        }
    }

&__info {
        width: 100%;
        padding: 10rem $container-padding;
        background-color: transparent;
        &__title {
            padding: 0;
            padding-bottom: 3rem;
        }
        background-image: linear-gradient(180deg, #758592 7%, #ffffff 100%);
        @include respond-down(md) {
            padding: 10rem $container-padding-xs;
        }
        &__cards {
            @include grid-row;
            &__card {
                @include grid-column(
                    $width: 33.33%,
                    $height: 35rem,
                    $gutter: $column-gutter-1
                );
                @include respond-down(md) {
                    @include grid-column(
                    $width: 33.33%,
                    $height: 40rem,
                    $gutter: $column-gutter-1
                );
                    margin-bottom: 2rem;
                }
                @include respond-only(xs) {
                    width: column-width(100%, $column-gutter-1);
                    @include grid-column(
                        $width: 100%,
                        $height: 30rem,
                        $gutter: 0
                    );
                    margin-bottom: 2rem;
                }
                background-color: transparent;
                background-image: linear-gradient(
                    180deg,
                    #758592 7%,
                    #ffffff 100%
                );
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 3rem;
                color: #ffffff;
                transition: all .3s ease-in;
                &:hover{
                    transform: scale(1.1);
                }
                & > .title {
                    text-transform: uppercase;
                    font-size: 2rem;
                    margin-bottom: 3rem;
                    font-weight: bold;
                    text-align: center;
                }
                & > p {
                    margin-bottom: 3rem;
                }
                & > .contact {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }
                & > .link {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    & > a {
                        color: $primary;
                    }
                    & > span {
                        padding-left: 0.5rem;
                        font-size: 1.4rem;
                        transition: all 0.3s ease-out;
                        color: $primary;
                    }
                    &:hover > a {
                        text-decoration: underline;
                    }
                    &:hover > span {
                        transform: translateX(0.5rem);
                    }
                }
            }
            @include respond-down(md) {
                &__card {
                    padding: 3rem 3rem;
                }
            }
        }
    }
    // .advantages {
    //     @include grid-row;
    //     padding-bottom: 10rem;
    //     & > .advantages__card {
    //         background-color: $white;
    //         box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    //             0px 2px 2px 0px rgb(0 0 0 / 14%),
    //             0px 1px 5px 0px rgb(0 0 0 / 12%);
    //         @include grid-column(
    //             $width: 25%,
    //             $height: 13rem,
    //             $gutter: $column-gutter-1
    //         );
    //         @include respond-only(xs) {
    //             width: column-width(50%, $column-gutter-1);
    //         }

    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         transition: all 0.3s ease-in;
    //         padding: 1rem;
    //         border: 1px solid $text;
    //         text-align: center;
    //         & > span {
    //             & > i {
    //                 color: $primary !important;
    //                 font-size: 4rem !important;
    //             }
    //         }
    //         & > p {
    //             color: $secondary;
    //             font-size: 1.2rem;
    //         }
    //         &:hover {
    //             @include card-bg;
    //             background: $primary;

    //             & > p {
    //                 color: $white;
    //             }
    //             & > span {
    //                 & > i {
    //                     color: $white !important;
    //                 }
    //             }
    //         }
    //     }
    // }
}
