.home {
    width: 100%;
    &__values {
        width: 100%;
        padding: 2rem 0;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        &__link {
            & > h6 {
                font-size: $title;
                color: $primary;
                &:hover {
                    text-decoration: underline;
                }
                @include respond-down(md) {
                    font-size: 2rem;
                }
            }
        }
        &__line {
            width: 1px;
            height: 2rem;
            background-color: $secondary;
            margin: 0 2rem;
        }
    }
    &__our__programs {
        width: 100%;
        padding: 0 $container-padding;

        &__title {
            padding: 0;
            padding-bottom: 3rem;
        }
        @include respond-down(md) {
            padding: 0 $container-padding-xs;
        }
        @include respond-only(xs) {
            width: 100%;
        }
        &__cards {
            @include grid-row;
            justify-content: space-between;
            &__card {
                @include grid-column(
                    $width: 33.33%,
                    $height: 22rem,
                    $gutter: 2rem
                );
                @include respond-down(md) {
                }
                @include respond-only(xs) {
                    width: column-width(100%, $column-gutter-1);
                    @include grid-column(
                        $width: 100%,
                        $height: 30rem,
                        $gutter: 0
                    );
                    margin-bottom: 2rem;
                    margin-right: 0;
                }

                position: relative;
                & > .front {
                    width: 100%;
                    height: 100%;

                    & > .image {
                        width: 100%;
                        height: 17rem;
                        & > img {
                            @include image;
                        }
                    }
                    & > .title {
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: $title-big;
                        text-transform: capitalize;
                        font-weight: bold;
                    }
                }
                & > .back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $primary;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s ease-in;
                    & > a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $white;
                        padding: 1rem;
                        & > .title {
                            margin-bottom: 1rem;
                            font-size: $title-big;
                            text-transform: capitalize;
                            font-weight: bold;
                        }
                        & > .text {
                        }
                        @include respond-only(xs) {
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                &:hover {
                    & > .back {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                @include respond-only(xs) {
                    & > .front {
                        & > .image {
                            height: 25rem;
                        }
                        & > .title {
                            height: 5rem;
                        }
                    }
                }
            }
        }
    }

    &__study__adu {
        width: 100%;
        padding: 5rem $container-padding;
        background-color: $white;
        &__title {
            padding: 3rem 0rem;
        }
        @include respond-down(md) {
            width: 100%;
            padding: 0 $container-padding-xs;
        }
        @include respond-only(xs) {
            &__title {
                padding: 3rem 0;
            }
        }

        &__caption {
            width: 70%;
            margin-bottom: 2rem;

            @include respond-only(xs) {
                width: 80%;
            }
            & > .link {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & > a {
                    color: $primary;
                }
                & > span {
                    padding-left: 0.5rem;
                    font-size: 1.4rem;
                    transition: all 0.3s ease-out;
                    color: $primary;
                }
                &:hover > a {
                    text-decoration: underline;
                }
                &:hover > span {
                    transform: translateX(0.5rem);
                }
            }
        }

        &__video {
            width: 100%;
            height: 45rem;
            @include respond-only(xs) {
                height: 30rem;
            }
        }
    }

    &__stats {
        width: 100%;
        margin: 5rem 0;
        background-image: linear-gradient(
            to bottom,
            rgba(234, 230, 221, 0.849),
            rgba(234, 230, 221, 0.678)
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        & > .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 5rem 15rem;

            & > .stat {
                width: 25%;
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $white;
                text-align: center;
                padding: 3rem 0;
                color: black;
                & > .icon {
                    & > i {
                        color: $primary;
                        font-size: 4rem;
                    }
                }
                & > .title {
                    font-size: 1.6rem;
                    width: 100%;
                    color: $primary;
                    &::after {
                        content: "";
                        display: block;
                        width: 95%;
                        height: 1px;
                        background-color: $primary;
                        margin: 1rem auto;
                    }
                }
                & > .text {
                    // font-size: 1.4rem;
                }
            }
            @include respond-down(md) {
                flex-wrap: wrap;
                padding: 5rem 2rem;
            }
            @include respond-down(xs) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5rem 3rem;
                & > .stat {
                    width: 100%;

                    & > .icon {
                        & > i {
                            font-size: 8rem;
                        }
                    }
                    & > .percentage {
                        font-size: 2rem;
                    }
                    & > .title {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &__news {
        width: 100%;
        margin: 4rem 0;
        background: #0e0e0e;
        padding: 5rem 0;
        &__title {
            color: $white;
            font-size: $title-xbig;
        }

        &__articles {
            width: 100%;
            padding: 0 $container-padding;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            @include respond-down(md) {
                padding: 0 $container-padding-xs;
            }
            @include respond-only(xs) {
                flex-direction: column;
            }
            &__article {
                width: 33.333%;
                &:not(:last-child) {
                    margin-right: 5rem;
                    @include respond-down(md) {
                        margin-right: 4rem;
                    }
                    @include respond-only(xs) {
                        margin-bottom: 5rem;
                    }
                }
                transition: all 0.3s ease-in;

                &:hover {
                    & > .title > a {
                        color: $white;
                    }
                    & > .line {
                        background-color: $white;
                    }
                }
                & > .title > a {
                    display: block;
                    width: 100%;
                    height: 3.9rem;
                    line-height: 1.2;
                    color: $primary;
                    font-weight: bold;
                }
                & > .line {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $primary;
                    margin: 0.9rem 0;
                }
                & > .text {
                    // font-size: 1.4rem;
                }
                @include respond-only(xs) {
                    width: 100%;
                }
            }
        }

        &__letter {
            width: 100%;
            margin: 10rem 0 5rem 0;
            & > form {
                width: 30%;
                margin: 0 auto;
                text-align: center;
                & > h1 {
                    margin-bottom: 3rem;
                    font-size: 1.6rem;
                    font-weight: 200;
                    color: $white;
                }
                & > button {
                    @include readMoreBtn;
                    background: $primary;
                    margin-top: 1rem;
                    letter-spacing: 1.1px;
                    &:hover {
                        background: $primary-dark;
                        text-decoration: underline;
                    }
                }
            }
            @include respond-only(xs) {
                padding: 0 2rem;
                & > form {
                    width: 100%;
                    margin: 0rem;
                }
            }
        }
    }

    &__partners {
        width: 100%;
        padding: 5rem $container-padding;

        &__title {
            padding: 0;
            padding-bottom: 3rem;
            @include respond-only(xs) {
                padding-top: 3rem;
            }
        }
        @include respond-down(md) {
            padding: 5rem $container-padding-xs;
        }
        @include respond-only(xs) {
            width: 100%;
        }
        &__ashesi {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include respond-only(xs) {
                flex-direction: column;
            }
            &__image {
                width: 30%;
                height: 40rem;
                & > img {
                    width: 100%;
                    height: 100%;
                }
                @include respond-only(xs) {
                    width: 80%;
                    height: 50rem;
                    align-self: flex-start;
                }
            }

            &__text {
                width: 70%;
                padding: 5rem;
                @include respond-only(xs) {
                    width: 100%;
                    align-self: flex-start;
                    padding: 0;
                }
                & > .title {
                    text-transform: capitalize;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $secondary;
                    margin-bottom: 2rem;

                    @include respond-only(xs) {
                        padding-top: 3rem;
                    }
                }
                & > .article {
                    margin-bottom: 0.5rem;
                    & > p {
                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }
                    }
                }
                & > .view__more {
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }

        &__logos {
            margin-top: 3rem;
            @include respond-down(md) {
                .vueperslides__arrow {
                    display: none;
                }
            }
            @include respond-only(xs) {
                margin-top: 5rem;
                .vueperslides__arrow {
                    display: none;
                }
            }
        }
    }

    &__spotlight {
        width: 100%;
        padding: 0 $container-padding;
        margin: 4rem 0;
        @include respond-down(md) {
            font-size: 2rem;
            padding: 0 3rem;
        }

        &__container {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            & > .image__wrapper {
                flex: 1;
                height: 40rem;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
                position: relative;
                overflow: hidden;
                &.content {
                    &--1 {
                        background-color: red;
                    }
                    &--2 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        & > .wrapper--1 {
                            width: 100%;
                            flex: 1;
                            position: relative;
                            overflow: hidden;
                            & > .image > .image__footer {
                                height: 60% !important;
                            }
                            &:not(:last-child) {
                                margin-bottom: 1.5rem;
                            }
                            &:first-child {
                            }
                            &:last-child {
                            }
                        }
                    }
                }
            }
            & .image {
                width: 100%;
                height: 100%;

                & > .image__link {
                    width: 100%;
                    height: 100%;
                    & > img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.2s ease-in;
                    }
                    & > .overlay {
                        transition: all 0.4s ease-in-out;
                    }
                }

                &:hover > .image__link > .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(
                        to bottom,
                        rgba(153, 0, 28, 0.726),
                        rgba(153, 0, 28, 0.726)
                    );
                }
                & > .image__footer {
                    position: absolute;
                    width: 100%;
                    height: 40%;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: rgba(153, 0, 28, 0.726);
                    padding: 1rem;
                    color: $white;
                    transform: translateY(72%);
                    transition: all 0.3s ease-out;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    & > .title {
                        font-size: 1.6rem;
                        font-weight: bold;
                        font-style: italic;
                        // line-height: 0;
                    }
                    & > .details {
                        font-size: 1.2rem;
                        // padding: 0.5rem 0;
                    }

                    & > a {
                        display: block;
                        width: 100%;
                        text-align: center;
                        padding: 1rem;
                        border: 2px solid $white;
                        transition: all 0.3s ease-out;
                        color: $white;
                        &:hover {
                            background-color: $white;
                            color: $primary;
                            text-decoration: underline;
                        }
                    }
                }
                &:hover {
                    overflow: hidden;

                    & > .image__link {
                        & > img {
                            transform: scale(1.05);
                        }
                    }

                    & > .image__footer {
                        transform: translateY(0);
                    }
                }
            }
            @include respond-down(md) {
                width: 100%;
            }
        }
    }

    &__happening {
        width: 100%;
        padding: 0 $container-padding;
        margin: 4rem 0;
    }
}
