.event-details {
    width: 100%;
    padding: 0 2rem;
    & > .image {
        width: 100%;
        height: 20rem;
        & > img {
            @include image;
        }
    }

    & > h1 {
        @include modalH1;
    }
    & > p {
        font-size: 1.1rem;
    }
}

.showrooms {
    @include grid-row;
    &__card {
        @include grid-column(
            $width: 33.333%,
            $height: 34rem,
            $gutter: $column-gutter-1
        );
        @include respond-down(md) {
            @include grid-column(
                $width: 33.333%,
                $height: 45rem,
                $gutter: $column-gutter-1
            );
        }
        @include respond-only(xs) {
            @include grid-column($width: 100%, $height: 34rem, $gutter: 0rem);
            // margin-bottom: 2rem;
        }
        padding: 2rem 0.5rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;
        // position: relative;
        // transition: all 0.3s ease-in;
    }
}
