// Variables
@import "vbox";
@import "variables";
@import "function";
@import "mixins";
@import "animations";
@import "utilities";
@import "components";
@import "base";
@import "login";
@import "layout";
@import "pages/home";
@import "pages/about";
@import "pages/admissions";
@import "pages/academics";
@import "pages/student-life";
@import "pages/iiLab";
@import "pages/donate";

@import "dashboard";
